body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  color: black;
}
.app {
  width: 100%;
  height: 100%;
}
.container {
  padding: 0 3rem;
}


/* LIST */
.item_list {
  margin: 3rem;
  width: 400px;
  border: 1px solid darkgrey;
  background: #efefef;
  padding: 5px;
  max-height: 350px;
  overflow-y: auto;
}
.item {
  margin: 7px auto;
  padding: 8px;
  border-radius: 2px;
  position: relative;
  background: white;
  box-shadow: 0 0 2px black;
}
/* BUTTONS */
.actions {
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  padding: 6px;
  display: flex;
  flex-direction: column;
}
.btn {
  border: 1px solid;
  padding: 5px;
  text-align: center;
  vertical-align: sub;
  margin-left: 1;
  border-radius: 5px;
}
.update {
  background: #048904;
  color: white;
}
.delete {
  background: #b90b0b;
  color: white;
}

/* ##### */
.info-data {
  margin-top: 3rem;
}
.online {
  padding: 3px;
  color: #0202f9;
}
.offline {
  padding: 3px;
  color: #010118;
}
