body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  color: black;
}

.app {
  width: 100%;
  height: 100%;
}

.container {
  padding: 3rem;
  height: calc(100vh - 4rem);
  background: #e1e1e1db;
}

.msg {
  position: absolute;
  top: 2.5rem;
  right: 0;
  padding: 0.5rem;
}

.msg p {
  color: white;
}

.msg-success {
  border-left: 4px solid green;
  background: #0348a1;
}

.msg-danger {
  border-left: 4px solid #ffcd0f;
  background: #a10309;
}

input,
select {
  margin: 0.3rem;
  padding: 0.6rem;
}

.btn {
  border: 1px solid;
  padding: 0.6rem;
  text-align: center;
  vertical-align: sub;
  margin-left: 1;
  background: #cecece;
  font-weight: 400;
}

.btn-update {
  background: #048904;
  color: white;
}

.btn-delete {
  background: #b90b0b;
  color: white;
}

.online {
  padding: 3px;
  color: #0202f9;
}

/* LIST
.item_list {
  margin: 3rem;
  width: 400px;
  border: 1px solid darkgrey;
  background: #efefef;
  padding: 5px;
  max-height: 350px;
  overflow-y: auto;
}
.item {
  margin: 7px auto;
  padding: 8px;
  border-radius: 2px;
  position: relative;
  background: white;
  box-shadow: 0 0 2px black;
}
/* BUTTONS
.actions {
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  padding: 6px;
  display: flex;
  flex-direction: column;
}


/* #####
.info-data {
  margin-top: 3rem;
}

.offline {
  padding: 3px;
  color: #010118;
} */
